"Welcome!": "Vítejte!"

"You have %s unread messages.":
	- 'Máte %s nepřečtenou zprávu.'
	- 'Máte %s nepřečtené zprávy.'
	- 'Máte %s nepřečtených zpráv.'

"You have %s unread articles.":
	- 'Máte %s nepřečtený článek.'
	- 'Máte %s nepřečtené články.'

"Article author": ''
