"Welcome!": "Vítejte!"

"You have %s unread messages.":
	- 'Máte <span class="badge">%s</span> nepřečtenou zprávu.'
	- 'Máte <span class="badge">%s</span> nepřečtené zprávy.'
	- 'Máte <span class="badge">%s</span> nepřečtených zpráv.'

"You have %s unread articles.":
	- 'Máte <span class="badge">%s</span> nepřečtený článek.'
	- 'Máte <span class="badge">%s</span> nepřečtené články.'

"Article author": ''
