"Welcome!": "Welcome!"

"You have %s unread messages.":
	- 'You have %s unread message.'
	- 'You have %s unread messages.'

"You have %s points. Thank you %s!":
	- 'You have %s point.  Thank you %s!'
	- 'You have %s points. Thank you %s!'
	- 'You have %s points. Thank you %s!'
